:root {
    --black: #1E1E1E;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

h1{
    text-align: center;
    font-size: 40px;
    margin: 0.8em;
}

p{
    font-size: 1.3em;
}

.cliquer{
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button {
    background-color: unset;
    border: unset;
}

a {
    text-decoration: unset;
    color: unset;
}

#root,
#__next {
    isolation: isolate;
}

.monuments-container {
    display: flex;
  }
  
  .monument {
    flex: 1;   /* Chaque image prend une part égale */
    text-align: center;
  }
  
  .monument img {
    width: 100%;   /* Chaque image prend toute la largeur de son bloc */
    aspect-ratio: 1 / 1;   /* Format carré */
    border: 1px solid black;
  }

  button {
    background-color: var(--black);
    color: var(--white);
    border: none; 
    padding: 10px 20px;
    margin: 30px;
    font-size: 16px;
    cursor: pointer; /* Curseur pointeur pour indiquer que c'est cliquable */
  }
  
  button:hover {
    background-color: grey;
  }
  
  .infos-container {
    height: 300px;
    padding: 40px;
    margin-top: 30px;
    background-color: var(--black);
    color: var(--white);
    position: relative;
    overflow: hidden;
  }
  
  
  @keyframes slideFadeIn {
    0% {
      transform: translateX(-50px);  /* Déplacement vers la gauche */
      opacity: 0;                    /* Texte transparent */
    }
    100% {
      transform: translateX(0);  /* Position d'origine */
      opacity: 1;  /* Texte visible */
    }
  }

  .infos-container.visible .infos-content {
    animation: slideFadeIn 1.2s ease-out forwards;
  }
  

  .infos-content h2 {
    font-size: 45px;
  }
  
  .pays{
    font-size: 30px;
  }

  .description{
    font-size: 18px;
    font-weight: 100;
  }
  
.map-container{
    height: 400px;
    width: 500px;
    margin-top: 20px;
}

.monuments-container img {
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }
  
  /* Survol : couleur + zoom */
  .monuments-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
  }
  
  .monuments-container img.active {
    filter: grayscale(0%);
  }
  
  .monuments-container img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    z-index: 1;
    position: relative;
  }
    
  